<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Gees.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <userSettings>
    <Gees.Properties.Settings>
      <setting name="MyVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoClose" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CloseAfter" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LandingsLocation" serializeAs="String">
        <value>0, 19</value>
      </setting>
      <setting name="LandingsSize" serializeAs="String">
        <value>1564, 594</value>
      </setting>
      <setting name="LandingsMaximised" serializeAs="String">
        <value>False</value>
      </setting>
    </Gees.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;libs" />
    </assemblyBinding>
  </runtime>
</configuration>